flask
requests
beautifulsoup4
transformers==4.37.2
torch
flask-mysqldb
flask-login
gunicorn
flask-wtf
newsapi-python
hf_xet
sentencepiece
protobuf
tiktoken
flask_sqlalchemy
sqlalchemy
aiohttp
celery
anyio